# Instruct Shiny Server to run applications as the user "shiny"
run_as shiny;

# Define a server that listens on port 3838
server {
  listen 3838;
  
  # Serve static HTML files (for precompiled reports)
  location /static {
    site_dir /srv/shiny-server/static;
    log_dir /var/log/shiny-server;
    directory_index on;
    # Allow serving static HTML files
    google_analytics_id "";
  }
  
 location /samples {
    site_dir /srv/shiny-server/samples;
    log_dir /var/log/shiny-server;
    #directory_index on;

    # Optimize for better performance
    app_init_timeout 60;
    app_idle_timeout 300;
  }

 # Serve Shiny applications (your app.R and .Rmd files)
  location / {
    site_dir /srv/shiny-server/rootapp;
    log_dir /var/log/shiny-server;
    #directory_index on;

    # Optimize for better performance
    app_init_timeout 60;
    app_idle_timeout 300;
  }
}
